@{
    ViewBag.Title = "About us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<Introduction>
    Please remeber our website!<br />
    This is a movie website for movie rating and comment.<br />
    When you watch a movie, you can rate it according to your preference and leave what you want to say.<br />
    Thank you!<br />
</Introduction>