@{
    ViewBag.Title = "Contact us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Highcross<br />
    Leicester, LE1 4AN<br />
    <abbr title="Phone">P Number:</abbr>
    07570003225
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:SupportFilmReviewWebsite@gmail.com">SupportFilmReviewWebsite@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:MarketingFilmReviewWebsite@gmail.com">MarketingFilmReviewWebsite@gmail.com</a>
</address>

